{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profilku</title>
</head>
<body style="font-size: 110%;">
	<img src="{% static "foto.jpg" %}" width="200" height="222">
	<p><b>Nama :</b> I Made Krisna Dwitama</p>
	<p><b>NPM :</b> 1806133881</p>
	<b>Riwayat Pendidikan :</b>
	<ul>
	  <li>TK : TK Saraswati 4 Denpasar</li>
	  <li>SD : SD Saraswati 6 Denpasar</li>
	  <li>SMP : SMP Negeri 3 Denpasar</li>
	  <li>SMA : SMA Negeri 4 Denpasar</li>
	</ul>
	<p><b>Hobi :</b> Programming</p>
	<p><b>Deskripsi singkat :</b>Saya memiliki passion di bidang programming 
		dan lebih tertarik dalam cakupan web programming. Saya memiliki 
		beberapa pengalaman dalam programming dengan mengikuti beberapa lomba 
		informatika yang berkaitan dengan struktur data dan algoritma</p>
</body>
</html>